* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p {
  line-height: 25px;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: calc(100% / 12 * 12);
}

@media all and (min-width: 576px) {
  .container {
    width: 540px;
  }

  .col-sm-1 {
    width: calc(100% / 12 * 1);
  }

  .col-sm-2 {
    width: calc(100% / 12 * 2);
  }

  .col-sm-3 {
    width: calc(100% / 12 * 3);
  }

  .col-sm-4 {
    width: calc(100% / 12 * 4);
  }

  .col-sm-5 {
    width: calc(100% / 12 * 5);
  }

  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }

  .col-sm-7 {
    width: calc(100% / 12 * 7);
  }

  .col-sm-8 {
    width: calc(100% / 12 * 8);
  }

  .col-sm-9 {
    width: calc(100% / 12 * 9);
  }

  .col-sm-10 {
    width: calc(100% / 12 * 10);
  }

  .col-sm-11 {
    width: calc(100% / 12 * 11);
  }

  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }
}
@media all and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .col-md-1 {
    width: calc(100% / 12 * 1);
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
  }

  .col-md-12 {
    width: calc(100% / 12 * 12);
  }
}
@media all and (min-width: 992px) {
  .container {
    width: 960px;
  }

  .col-lg-1 {
    width: calc(100% / 12 * 1);
  }

  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }

  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-5 {
    width: calc(100% / 12 * 5);
  }

  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }

  .col-lg-7 {
    width: calc(100% / 12 * 7);
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-9 {
    width: calc(100% / 12 * 9);
  }

  .col-lg-10 {
    width: calc(100% / 12 * 10);
  }

  .col-lg-11 {
    width: calc(100% / 12 * 11);
  }

  .col-lg-12 {
    width: calc(100% / 12 * 12);
  }
}
.col-1-5 {
  width: calc(100% / 12 * 1.5);
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.mar-15 {
  margin-right: -15px;
  margin-left: -15px;
}

.pad-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

.btn-brand {
  background: #0282F9;
  color: #fff;
  padding: 10px 45px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.btn-footer {
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  background: none;
  border: 2px solid #0282F9;
  font-weight: 800;
  cursor: pointer;
}

nav .navbar-top {
  background: #0282F9;
}
nav .navbar-top .navbar-top-container {
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
}
nav .navbar-top .navbar-top-container span {
  margin-left: 50px;
  font-size: 0.75em;
  font-weight: 500;
}
nav .navbar-bottom {
  background-color: #fff;
}
nav .navbar-bottom .navbar-bottom-container {
  text-transform: uppercase;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navbar-bottom .navbar-bottom-container .logo img {
  height: 60px;
  vertical-align: middle;
}
nav .navbar-bottom .navbar-bottom-container .menu-list {
  height: 100%;
}
nav .navbar-bottom .navbar-bottom-container .menu-list ul {
  display: flex;
  font-weight: 600;
  list-style: none;
  height: 100%;
}
nav .navbar-bottom .navbar-bottom-container .menu-list ul li {
  height: 100%;
}
nav .navbar-bottom .navbar-bottom-container .menu-list ul li a {
  color: #1C1C1C;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 32px;
  height: 100%;
}
nav .navbar-bottom .navbar-bottom-container .menu-list ul li a.active {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}
nav .navbar-bottom .navbar-bottom-container .searchbar {
  border-bottom: 2px solid #0282F9;
  text-align: right;
}
nav .navbar-bottom .navbar-bottom-container .searchbar input {
  width: 100px;
}
nav .navbar-bottom .navbar-bottom-container .searchbar ::-moz-placeholder {
  text-align: right;
  color: #1C1C1C;
}
nav .navbar-bottom .navbar-bottom-container .searchbar :-ms-input-placeholder {
  text-align: right;
  color: #1C1C1C;
}
nav .navbar-bottom .navbar-bottom-container .searchbar ::placeholder {
  text-align: right;
  color: #1C1C1C;
}

.jumbo {
  background: url("../img/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 400px;
}

.section-comics {
  background: #1C1C1C;
}
.section-comics .section-title {
  background: #0282F9;
  padding: 10px 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: -25px;
}
.section-comics .section-title h1 {
  color: #fff;
  text-transform: uppercase;
}
.section-comics .comics-container {
  text-align: center;
  padding-bottom: 20px;
}
.section-comics .comics-container a {
  color: #fff;
  text-decoration: none;
}
.section-comics .comics-container a .card .card-image {
  width: 100%;
  overflow: hidden;
}
.section-comics .comics-container a .card .card-image img {
  width: 100%;
}
.section-comics .comics-container a .card .card-descr {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: left;
}
.section-comics .comics-container a .card .card-descr h4 {
  font-weight: 400;
  font-size: 0.85em;
}

.section-menu {
  background: #0282F9;
  padding: 40px 0;
}
.section-menu .menu-card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}
.section-menu .menu-card img {
  height: 50px;
  max-width: 50px;
}
.section-menu .menu-card span {
  color: #fff;
  text-transform: uppercase;
}

.section-single-comic .cover-section {
  background: #0282F9;
  position: relative;
  height: 65px;
}
.section-single-comic .cover-section .cover {
  position: absolute;
  bottom: 20px;
  border: 2px solid #fff;
}
.section-single-comic .cover-section .cover .type {
  padding: 3px;
  background: #00A9D9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
}
.section-single-comic .cover-section .cover .type span {
  color: #fff;
  font-size: 0.75em;
}
.section-single-comic .cover-section .cover .view-gallery {
  padding: 3px;
  background: #00A9D9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -1px;
  text-transform: uppercase;
}
.section-single-comic .cover-section .cover .view-gallery span {
  color: #fff;
  font-size: 0.75em;
}
.section-single-comic .cover-section .cover img {
  height: 100%;
  width: 100%;
}
.section-single-comic .comic-info-section {
  padding: 50px 0;
}
.section-single-comic .comic-info-section h1 {
  color: #1C1C1C;
  margin-top: 10px;
}
.section-single-comic .comic-info-section .green-nav {
  background: #55BA59;
  display: flex;
  justify-content: space-between;
  color: #BAFD9C;
  margin-top: 20px;
  border-bottom: 1px solid #357739;
}
.section-single-comic .comic-info-section .green-nav .green-nav-left {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  width: 100%;
  border-right: 1px solid #357739;
}
.section-single-comic .comic-info-section .green-nav .green-nav-left .price {
  color: #fff;
}
.section-single-comic .comic-info-section .green-nav .green-nav-right {
  margin: auto;
  text-align: center;
  padding: 20px 25px;
  color: #fff;
}
.section-single-comic .comic-info-section .comic-description {
  margin-top: 15px;
}
.section-single-comic .comic-info-section .comic-description p {
  color: #303030;
  opacity: 0.7;
}
.section-single-comic .comic-info-section .advertising {
  padding-left: 30px;
  text-align: right;
  text-transform: uppercase;
  color: #1C1C1C;
}
.section-single-comic .comic-info-section .advertising span {
  opacity: 0.75;
  font-weight: 500;
}
.section-single-comic .comic-info-section .advertising img {
  margin-top: 7px;
}

.footer-top {
  background: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  overflow: hidden;
  position: relative;
}
.footer-top ul {
  list-style: none;
  margin-bottom: 15px;
}
.footer-top ul li {
  color: #797979;
  margin: 4px 0;
  font-size: 0.75em;
}
.footer-top ul li.footer-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.footer-top .dc-footer-logo {
  position: absolute;
  top: -75px;
  right: 180px;
}
.footer-top .dc-footer-logo img {
  height: 500px;
}
.footer-top .footer-copyright {
  display: flex;
  flex-direction: column;
  color: #797979;
  font-size: 0.75em;
}
.footer-top .footer-copyright a {
  color: #0282F9;
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom {
  background: #303030;
  padding: 25px 0;
}
.footer-bottom .bottom-container {
  display: flex;
  justify-content: space-between;
}
.footer-bottom .bottom-container .bottom-right {
  display: flex;
  align-items: center;
}
.footer-bottom .bottom-container .bottom-right span {
  color: #0282F9;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 5px;
}
.footer-bottom .bottom-container .bottom-right ul {
  display: flex;
  list-style: none;
}
.footer-bottom .bottom-container .bottom-right ul li {
  margin-left: 15px;
}
.footer-bottom .bottom-container .bottom-right ul li img {
  vertical-align: middle;
}