.section-comics {
    background: $brand-text;
    // position: absolute;
    .section-title {
        background: $brand-detail;
        padding: 10px 25px;
        width: fit-content;
        position: relative;
        top: -25px;
        h1 {
            color: $bianco;
            text-transform: uppercase;
        }
    }
    .comics-container {
        text-align: center;
        padding-bottom: 20px;
        a {
            color: $bianco;
            text-decoration: none;
            .card {
                .card-image {
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .card-descr {
                    text-transform: uppercase;
                    margin-top: 10px;
                    text-align: left;
                    h4 {
                        font-weight: 400;
                        font-size: 0.85em;
                    }
                }
            }
        }
    }
}
.section-menu {
    background: $brand-detail;
    padding: 40px 0;
    .menu-card {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 15px;
        img {
            height: 50px;
            max-width: 50px;
        }
        span {
            color: $bianco;
            text-transform: uppercase;
        }
    }
}