.section-comics {
    background: $brand-text;
    // position: absolute;
    .section-title {
        background: $brand-detail;
        padding: 10px 25px;
        width: fit-content;
        position: relative;
        top: -25px;
        h1 {
            color: $bianco;
            text-transform: uppercase;
        }
    }
    .comics-container {
        text-align: center;
        padding-bottom: 20px;
        a {
            color: $bianco;
            text-decoration: none;
            .card {
                .card-image {
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .card-descr {
                    text-transform: uppercase;
                    margin-top: 10px;
                    text-align: left;
                    h4 {
                        font-weight: 400;
                        font-size: 0.85em;
                    }
                }
            }
        }
    }
}
.section-menu {
    background: $brand-detail;
    padding: 40px 0;
    .menu-card {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 15px;
        img {
            height: 50px;
            max-width: 50px;
        }
        span {
            color: $bianco;
            text-transform: uppercase;
        }
    }
}

.section-single-comic {
    .cover-section {
        background: $brand-detail;
        position: relative;
        height: 65px;
        .cover {
            position: absolute;
            bottom: 20px;
            border: 2px solid $bianco;
            .type {
                padding: 3px;
                background: $brand-detail-due;
                width: fit-content;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                text-transform: uppercase;
                span {
                    color: $bianco;
                    font-size: 0.75em;
                }
            }
            .view-gallery {
                padding: 3px;
                background: $brand-detail-due;
                height: fit-content;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -1px;
                text-transform: uppercase;
                span {
                    color: $bianco;
                    font-size: 0.75em;
                }
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .comic-info-section {
        padding: 50px 0;
        h1 {
            color: $brand-text;
            margin-top: 10px;
        }
        .green-nav {
            background: $green;
            display: flex;
            justify-content: space-between;
            color: #BAFD9C;
            margin-top: 20px;
            border-bottom: 1px solid #357739;
            .green-nav-left {
                display: flex;
                justify-content: space-between;
                padding: 20px 25px;
                width: 100%;
                border-right: 1px solid #357739;
                .price {
                    color: $bianco;
                }
            }
            .green-nav-right {
                margin: auto;
                text-align: center;
                padding: 20px 25px;
                color: $bianco;
            }
        }
        .comic-description {
            margin-top: 15px;
            p {
                color: $footer-grey;
                opacity: 0.7;
            }
        }
        .advertising {
            padding-left: 30px;
            text-align: right;
            text-transform: uppercase;
            color: $brand-text;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            span {
                opacity: 0.75;
                font-weight: 500;
            }
            img {
                margin-top: 7px;
                width: 300px;
            }
        }
    }
    .comic-spec-section {
        background: #F6F6F6;
        padding: 30px 0;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        .rows-container {
            padding: 20px 0;
            a {
                color: $brand-detail;
            }
            h1 {
                color: $brand-text;
                margin-bottom: 30px;
            }
            .title-spec {
                color: $brand-text;
                opacity: 0.8;
                font-weight: 500;
                font-size: 0.85em;
                a {
                    color: $brand-detail;
                }
            }
            .descr-spec {
                color: $brand-text;
                opacity: 0.7;
                font-weight: 500;
                font-size: 0.85em;
                a {
                    color: $brand-detail;
                }
            }
            .border-top {
                border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
                padding: 10px 0;
            }
            .border-bottom {
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            }
        }        
    }
}