// grid system
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;

// colori
$bianco: #fff;
$nero: #000;
$brand-text: #1C1C1C;
$brand-detail: #0282F9;
$footer-grey: #303030;
$footer-text: #797979;